CONFIG_TARGET_ath79=y
CONFIG_TARGET_ath79_generic=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_ath79_generic_DEVICE_gainstrong_oolite-v1-16m=y
CONFIG_TARGET_DEVICE_ath79_generic_DEVICE_gainstrong_oolite-v1-32m=y
CONFIG_TARGET_DEVICE_ath79_generic_DEVICE_gainstrong_oolite-v1-8m=y

CONFIG_TARGET_ROOTFS_INITRAMFS=y
CONFIG_TARGET_INITRAMFS_COMPRESSION_LZMA=y
# CONFIG_IPV6 is not set

CONFIG_IMAGEOPT=y
CONFIG_VERSIONOPT=y
CONFIG_VERSION_DIST="Oolite-V1.X"
CONFIG_VERSION_FILENAMES=y
CONFIG_VERSION_CODE_FILENAMES=y

CONFIG_PACKAGE_usbutils=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-fs-exfat=y

CONFIG_PACKAGE_coreutils=y
CONFIG_PACKAGE_coreutils-dd=y

CONFIG_PACKAGE_luci=y
CONFIG_LUCI_LANG_en=y
CONFIG_LUCI_LANG_zh_Hans=y
