CONFIG_TARGET_ath79=y
CONFIG_TARGET_ath79_generic=y
CONFIG_TARGET_ath79_generic_DEVICE_gainstrong_minibox-v3-16m=y
# CONFIG_TARGET_ROOTFS_INITRAMFS is not set

# CONFIG_IPV6 is not set

CONFIG_PACKAGE_kmod-usb-net-rndis=y

CONFIG_PACKAGE_kmod-ath10k-ct-smallbuffers=y
CONFIG_PACKAGE_ath10k-firmware-qca9887-ct=y

CONFIG_PACKAGE_luci=y
CONFIG_LUCI_LANG_en=y
CONFIG_LUCI_LANG_zh_Hans=y

CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_usbutils=y
