CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_gainstrong_minibox-v5=y
CONFIG_TARGET_ROOTFS_PARTSIZE=1024
CONFIG_TARGET_ROOTFS_INITRAMFS=y
CONFIG_TARGET_ROOTFS_INITRAMFS_SEPARATE=y
CONFIG_TARGET_INITRAMFS_COMPRESSION_XZ=y

CONFIG_IMAGEOPT=y
CONFIG_VERSIONOPT=y
CONFIG_VERSION_FILENAMES=y
CONFIG_VERSION_CODE_FILENAMES=y

# Keep locally installed third-party feeds out of firmware repositories.
# CONFIG_FEED_3ginfo is not set

CONFIG_PACKAGE_kmod-usb-storage=y

CONFIG_PACKAGE_luci=y
CONFIG_LUCI_LANG_en=y
CONFIG_LUCI_LANG_zh_Hans=y

CONFIG_PACKAGE_usbutils=y
CONFIG_PACKAGE_mmc-utils=y
CONFIG_PACKAGE_iperf3=y

CONFIG_PACKAGE_coreutils=y
CONFIG_PACKAGE_coreutils-dd=y
CONFIG_PACKAGE_coreutils-sleep=y
CONFIG_PACKAGE_coreutils-timeout=y
CONFIG_PACKAGE_kmod-mtd-rw=y
CONFIG_PACKAGE_i2c-tools=y
