CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_MULTI_PROFILE=y

CONFIG_IMAGEOPT=y
CONFIG_VERSIONOPT=y
CONFIG_VERSION_FILENAMES=y
CONFIG_VERSION_CODE_FILENAMES=y

CONFIG_PACKAGE_uboot-envtools=y

CONFIG_PACKAGE_kmod-mmc=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_usbutils=y
CONFIG_PACKAGE_parted=y
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_dosfstools=y

CONFIG_PACKAGE_i2c-tools=y
CONFIG_PACKAGE_kmod-i2c-gpio=y
CONFIG_PACKAGE_kmod-gpio-pca953x=y
CONFIG_PACKAGE_kmod-rtc-pcf8563=y

CONFIG_PACKAGE_coreutils=y
CONFIG_PACKAGE_coreutils-dd=y

CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_memtester=y

CONFIG_PACKAGE_luci=y
CONFIG_LUCI_LANG_en=y
CONFIG_LUCI_LANG_zh_Hans=y

