CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_MULTI_PROFILE=y

CONFIG_IMAGEOPT=y
CONFIG_VERSIONOPT=y
CONFIG_VERSION_FILENAMES=y
CONFIG_VERSION_CODE_FILENAMES=y

CONFIG_PACKAGE_kmod-mmc=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_kmod-usb-storage=y

CONFIG_PACKAGE_kmod-oolite-v7=y
CONFIG_PACKAGE_oolite-v7-tools=y

CONFIG_PACKAGE_luci=y
CONFIG_LUCI_LANG_en=y
CONFIG_LUCI_LANG_zh_Hans=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-ser2net=y

CONFIG_PACKAGE_uboot-envtools=y

CONFIG_PACKAGE_mdio-tools=y
CONFIG_PACKAGE_ethtool=y
CONFIG_PACKAGE_pciutils=y
CONFIG_PACKAGE_usbutils=y

CONFIG_PACKAGE_nand-utils=y
CONFIG_PACKAGE_ubi-utils=y
CONFIG_PACKAGE_mmc-utils=y

CONFIG_PACKAGE_parted=y
CONFIG_PACKAGE_cgdisk=y
CONFIG_PACKAGE_gdisk=y
CONFIG_PACKAGE_sgdisk=y
CONFIG_PACKAGE_cfdisk=y
CONFIG_PACKAGE_fdisk=y
CONFIG_PACKAGE_sfdisk=y

CONFIG_PACKAGE_lsblk=y
CONFIG_PACKAGE_losetup=y
CONFIG_PACKAGE_blkid=y
CONFIG_PACKAGE_blockdev=y

CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-fs-ntfs3=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_e2fsprogs=y

CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_memtester=y

CONFIG_PACKAGE_coreutils=y
CONFIG_PACKAGE_coreutils-dd=y
CONFIG_PACKAGE_coreutils-stty=y
CONFIG_PACKAGE_diffutils=y

CONFIG_PACKAGE_lsof=y
CONFIG_PACKAGE_dmesg=y

############### 4G LTE/5G support start ###############
CONFIG_PACKAGE_luci-proto-qmi=y
CONFIG_PACKAGE_luci-proto-3g=y
CONFIG_PACKAGE_luci-proto-ncm=y
CONFIG_PACKAGE_qmi-utils=y
CONFIG_PACKAGE_mbim-utils=y
CONFIG_PACKAGE_umbim=y

CONFIG_PACKAGE_luci-app-3ginfo-lite=y
CONFIG_PACKAGE_luci-app-sms-tool=y
CONFIG_PACKAGE_luci-compat=y
############### 4G LTE/5G support end ###############

############### I2C support start ###############
CONFIG_PACKAGE_i2c-tools=y
CONFIG_PACKAGE_kmod-i2c-gpio=y
CONFIG_PACKAGE_kmod-gpio-pca953x=y
############### I2C support end ###############

CONFIG_KERNEL_FTRACE=y
CONFIG_KERNEL_FTRACE_SYSCALLS=y
CONFIG_KERNEL_ENABLE_DEFAULT_TRACERS=y
CONFIG_KERNEL_FUNCTION_TRACER=y
CONFIG_KERNEL_FUNCTION_GRAPH_TRACER=y
CONFIG_KERNEL_DYNAMIC_FTRACE=y
CONFIG_KERNEL_FUNCTION_PROFILER=y
CONFIG_KERNEL_IRQSOFF_TRACER=y
CONFIG_KERNEL_PREEMPT_TRACER=y
CONFIG_KERNEL_HIST_TRIGGERS=y
CONFIG_KERNEL_DEBUG_KERNEL=y
CONFIG_KERNEL_DEBUG_INFO=y
CONFIG_KERNEL_DEBUG_INFO_REDUCED=y

