CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_gainstrong_oolite-v8.2=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_gainstrong_oolite-v8.2-dev-board=y

CONFIG_IMAGEOPT=y
CONFIG_VERSIONOPT=y
CONFIG_VERSION_PRODUCT="Oolite V8.2"
CONFIG_VERSION_FILENAMES=y
CONFIG_VERSION_CODE_FILENAMES=y

CONFIG_PACKAGE_usbutils=y
CONFIG_PACKAGE_pciutils=y
CONFIG_PACKAGE_i2c-tools=y

CONFIG_PACKAGE_kmod-usb-storage=y

CONFIG_PACKAGE_luci=y
CONFIG_LUCI_LANG_en=y
CONFIG_LUCI_LANG_zh_Hans=y

CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-ser2net=y

CONFIG_PACKAGE_coreutils=y
CONFIG_PACKAGE_coreutils-dd=y
CONFIG_PACKAGE_coreutils-stty=y
CONFIG_PACKAGE_dmesg=y

CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_memtester=y

CONFIG_PACKAGE_kmod-spi-gpio=y
CONFIG_PACKAGE_spi-tools=y
CONFIG_PACKAGE_spidev-test=y
CONFIG_PACKAGE_sx1302-hal=y
CONFIG_PACKAGE_coreutils-sleep=y

############### 4G LTE/5G support start ###############
CONFIG_PACKAGE_luci-proto-qmi=y
CONFIG_PACKAGE_luci-proto-3g=y
CONFIG_PACKAGE_luci-proto-ncm=y
CONFIG_PACKAGE_qmi-utils=y
CONFIG_PACKAGE_mbim-utils=y
CONFIG_PACKAGE_umbim=y

CONFIG_PACKAGE_luci-app-3ginfo-lite=y
CONFIG_PACKAGE_luci-app-sms-tool=y
CONFIG_PACKAGE_luci-compat=y
############### 4G LTE/5G support end ###############
