CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_gainstrong_oolite-v8-8m=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_gainstrong_oolite-v8-16m=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_gainstrong_oolite-v8-32m=y
CONFIG_TARGET_DEVICE_ramips_mt7621_DEVICE_gainstrong_oolite-v8-64m=y
# CONFIG_TARGET_ROOTFS_INITRAMFS is not set

CONFIG_IMAGEOPT=y
CONFIG_VERSIONOPT=y
CONFIG_VERSION_PRODUCT="Oolite-V8.X"
CONFIG_VERSION_FILENAMES=y
CONFIG_VERSION_CODE_FILENAMES=y

CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_usbutils=y

CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-fs-ntfs=y

CONFIG_PACKAGE_kmod-ata-ahci=y
CONFIG_PACKAGE_coreutils=y
CONFIG_PACKAGE_coreutils-dd=y

CONFIG_PACKAGE_pciutils=y

CONFIG_PACKAGE_luci=y
CONFIG_LUCI_LANG_en=y
CONFIG_LUCI_LANG_zh_Hans=y

# CONFIG_IPV6 is not set
# CONFIG_PACKAGE_ppp is not set
# CONFIG_PACKAGE_ppp is not set


CONFIG_PACKAGE_kmod-sound-core=y
CONFIG_PACKAGE_kmod-sound-mt7620=y
